flask
flask_cors
flask_socketio
gevent
gevent-websocket
soundfile
sounddevice
scipy
numpy
pydub
mutagen
python-dotenv

# 本地 whl 包
audio_engine/rust_audio_resampler-0.1.0-cp313-cp313-win_amd64.whl
